@font-face {
  font-family: 'abusivepencil';
  src: url('abusivepencil.ttf') format('truetype');
}

@font-face {
    font-family: 'alphaecho';
    src: url('alphaecho/alpha_echo-webfont.eot');
    src: url('alphaecho/alpha_echo-webfont.eot?#iefix') format('embedded-opentype'),
         url('alphaecho/alpha_echo-webfont.woff') format('woff'),
         url('alphaecho/alpha_echo-webfont.ttf') format('truetype'),
         url('alphaecho/alpha_echo-webfont.svg#alpha_echoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
  height: auto;
}

p {
	display: block;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}